# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      0
1  banana  medium     12
2  orange     low     14
3   apple    high     13
4  banana  medium      9
5  orange     low      3
6   apple    high     11
7  banana  medium      3
8  orange     low      8
    fruit weight  price
0   apple   high     14
1  orange    low      9
2    pine   high     13
3   apple    low      8
4  orange   high      7
5    pine    low     13

In [3]:
# - 依照 fruit 欄位做合併
pd.merge(df1, df2, on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        0     high       14
1    apple     high        0      low        8
2    apple     high       13     high       14
3    apple     high       13      low        8
4    apple     high       11     high       14
5    apple     high       11      low        8
6   orange      low       14      low        9
7   orange      low       14     high        7
8   orange      low        3      low        9
9   orange      low        3     high        7
10  orange      low        8      low        9
11  orange      low        8     high        7

In [4]:
# - 依照 index 索引做合併
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [5]:
# 因為 merge 有預設的方法是兩邊同時存在才會合併，只存在一邊的資料就不見了。

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [6]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          0     apple       high       14.0
1    banana     medium         12    orange        low        9.0
2    orange        low         14      pine       high       13.0
3     apple       high         13     apple        low        8.0
4    banana     medium          9    orange       high        7.0
5    orange        low          3      pine        low       13.0
6     apple       high         11       NaN        NaN        NaN
7    banana     medium          3       NaN        NaN        NaN
8    orange        low          8       NaN        NaN        NaN